.container-fluid.py-5
    .row
        .col-md-8.offset-md-2
            // TODO: add image of rep
        .col-md-8.offset-md-2
            %h1.text-center #{@representatives.name}
         // TODO: add address
         // TODO: add political party